#header-img {
	height:  150px;
	width:  150px;
}

.container {
	font-size:  20px;
	min-height: 150px;
	width:  80%;
	display:  grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	justify-items: right;
	grid-gap: 10px;
}

.nav1 {
	padding-top: 50;
}

.nav2 {
	padding-top: 50;
}

.nav3 {
	padding-top: 50;
}

.nav4 {
	padding-top: 50;
}